@media all and (min-width: 480px) {
  .Login-component {
    padding: 60px 0;
  }
  .Login-component form {
    max-width: 320px;
  }
}

@media all and (max-width: 480px) {
  .Login-component {
    padding: 30px 10px;
  }
  .Login-component form {
    max-width: 320px;
  }
}

.Login-component form {
  margin: 0 auto;
}

.Login-component .actions {
  display: flex;
  flex-direction: column;
}

.Login-component .actions .btn {
  margin: 10px 0px;
}